.button1 {
    padding: 0.35em 1.2em;
    border: 1px solid tomato;
    border-radius: 0.15em;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    background-color: black;
    font-size: 1rem;
  }
  
.button1:hover {
    color: mediumslateblue;
  }


