.title {
  color: tomato;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footerMenu {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
    color: gray;
  }
  
.copywrite {
  color: mediumslateblue;
}

.footerMenu a:hover {
  color: tomato;
}

  @media (prefers-color-scheme: dark) {
    .footer {
      border-color: #222;
    }
    .logo img {
      filter: invert(1);
    }
  }
  