.sectionContainer {
  /* background-color: red; */
  padding-bottom: 5rem;
}

.title {
  color: tomato;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
  
.card {
  margin: 1.5rem;
  padding: 1.5rem;
  text-align: left;
  /* background-color: green; */
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  transition: all .2s ease-in-out; 
  width: 500px;
  height: 250px;
}


.card:hover,
.card:focus,
.card:active {
  border-color: tomato;
  transform: scale(1.12); 
}

.card h2 {
  color: mediumslateblue;
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  width: 500px;
}

.card p {
  width: 80%;
  font-size: 1rem;
  /* color:cornflowerblue; */
  /* background-color: red; */
 }

.cardIcon {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  margin: 5% 0% 0% 2%;
}

@media (max-width: 800px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .card {
    margin: 1rem;
    width: 85%;
    height: 50%;
  }

  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.1rem;
    width: 350px;
  }
}

