.hero {
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    position: relative;
    height: 85VH;
  }
  
  .title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9;
    font-size: 2rem;
    font-weight: 500;
  }
  
  .button1 {
    margin-top: 5%;
  }
  